.right-content.clearfix

  .right-content__top.cleafix
    .chat-group.clearfix{data: {group_id: @group.id}}
      = @group.name
      -# =f.label :name, class: 'chat-group__label'
    .chat-menbers.clearfix
      Members:
      - @group.users.each do |user|
        = user.name
    .right-content__edit
      =link_to 'Edit', edit_group_path(@group)
      -# = link_to "#",class: "edit-link" do
        .edit-button Edit
    
    -#   = f.collection_check_boxes :user_ids, User.all, :id, :name
  .right-content__middle
    .messages
      = render @messages
    -# %ul.message
    -#   %li.message__contents.cleafix
    -#     %p.message__contents__sender sakura
    -#     %p.message__contents__time 2020/02/22 00:00:00
    -#     %p.message__contents__content こんにちは！
    -#   %li.message__contents.cleafix
    -#     %p.message__contents__sender midori
    -#     %p.message__contents__time 2020/02/22 10:00:00
    -#     %p.message__contents__content こんばんは！

  .chat-footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
